body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* width: 100%;
  max-width: 1166px; */
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color: #111;
  text-align: center;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  /* line-height: 1.17; */
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.title span {
  color: #fd9222;
}

/* ======HEADER======== */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}

.header-logo-italic {
  font-style: italic;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 90px;
  justify-content: space-between;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111111;
}

/* ======================= */

/* ======HERO======== */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background: #fd9222;
  border: 1px solid transparent;
  padding: 14px 40px;
  margin-right: 14px;
  /* transition-property: background-color, border;
  transition-duration: 1000ms;
  transition-timing-function: linear; */
  transition: background-color 1000ms ease, border 1000ms ease;
}

.hero-btn:hover {
  background-color: transparent;
  border: 1px solid #fd9222;
}

.hero-made-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 14px 40px;
}

.hero-scroll-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}

/* ======================= */

/* ===========FEATURES============ */

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding: 0 18px;
}

.features-item {
  flex-basis: calc((100% - 2 * 88px) / 3);
  position: relative;
}

.features-item:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
  right: -44px;
  top: 50%;
  transform: translateY(-50%);
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

/* ======================= */

/* ============TASTE=========== */

.taste {
  padding-top: 80px;
  padding-bottom: 40px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px 32px; */
  /* column-gap: 32px; */
  /* row-gap: 24px; */
  row-gap: 20px;
}

.taste-item {
  background-color: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px 23px;
  /* width: calc((100% - 96px) / 4); */
  width: 100%;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: none;
}

.taste-picture {
  margin: 0 auto;
  margin-bottom: 36px;
}

.taste-subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/* ======================= */

/* ==========MADE============= */

.made {
  padding-top: 40px;
  padding-bottom: 40px;
}

.made-title {
  margin-bottom: 50px;
}

/* .made-title::before {
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/loved-img-2.jpeg);
  display: inline-block;
} */

.made-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.made-image {
}

.made-content {
  /* padding: 32px; */
  padding: 20px 14px;
  background-color: #ffffff;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  /* margin-bottom: 28px; */
  margin-bottom: 20px;
}

.made-list {
}

.made-item {
  margin-bottom: 18px;
  padding-left: 16px;
  position: relative;
}

.made-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
  /* box-shadow: 0 0 2px 1px #eceded; */
  flex-shrink: 0;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ======================= */

/* ===========PRODUCTS============ */

.products {
  padding-top: 40px;
  padding-bottom: 40px;
}

.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 18px; */
  gap: 20px;
}

.products-item {
  /* width: calc((100% - 54px) / 4); */
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 32px 20px;
  text-align: center;
}

.products-picture {
  margin: 0 auto;
  margin-bottom: 8px;
}

.products-subtitle {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.products-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background-color: #fafafa;
}

/* ======================= */

/* ===========SELLERS============ */

.sellers {
  padding-top: 40px;
  padding-bottom: 40px;
}

.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sellers-item {
  /* width: calc((100% - 32px) / 3); */
  width: 100%;
}

.sellers-item:hover .sellers-cover-container {
  transform: translateY(0);
}

.sellers-picture {
}

.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-cover-container {
  position: absolute;
  top: 0;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.sellers-cover-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
}

/* ======================= */

/* ===========LOVED============ */

.loved {
  padding-top: 40px;
  padding-bottom: 80px;
}

.loved-title {
  margin-bottom: 90px;
}

.loved-list {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  margin-bottom: 50px;
}

.loved-item {
  position: relative;
  /* width: calc((100% - 56px) / 3); */
  width: 100%;
  padding: 56px 24px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
}

.loved-picture {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}

.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.loved-btn {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

/* ======================= */

/* ===========FOOTER============ */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  padding-bottom: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}
.footer-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  max-width: 300px;
  margin-right: auto;
}

.footer-text span {
  color: #fd9222;
}

.footer-subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.footer-soc {
  margin-right: 50px;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-soc-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-soc-link {
}

.footer-soc-icon {
  fill: transparent;
  stroke: #ffffff;
}

.footer-address {
  font-style: normal;
}

.footer-address-list {
}

.footer-address-item {
}

.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-navigation {
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-form {
  display: flex;
  gap: 8px;
}
.footer-input {
  width: 313px;
  height: 52px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: transparent;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 17px 40px;
  background-color: #fd9222;
  border: none;
}

/* ========================== */
.icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(88, 134, 234);
  border-radius: 50%;
}
.icon-icon {
  fill: transparent;
  stroke: #ffffff;
}

.icon-link:hover {
  background-color: aqua;
}

.icon-link:hover .icon-icon {
  stroke: rgb(241, 147, 40);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 76, 76, 0.594);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #4c4c4c;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-title {
  text-align: left;
  max-width: 300px;
  margin-bottom: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  border-radius: 13px;
  outline: transparent;
  padding-left: 62px;
  font-size: 16px;
  color: green;
  transition-duration: 300ms;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-input::placeholder {
  font-size: 14px;
  color: rgb(128, 73, 0);
}

.modal-label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 300ms;
}

.modal-textarea {
  width: 100%;
  height: 137px;
  border: 1px solid rgba(17, 17, 17, 0.25);
  border-radius: 13px;
  outline: transparent;
  padding: 22px 24px;
  font-size: 16px;
  color: green;
  transition-duration: 300ms;
  resize: none;
}

.check-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
  position: relative;
}

.check-text a {
  text-decoration: underline;
  color: #fd9222;
}

.check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-check:checked + .check-text span {
  background-color: #fd9222;
  border: none;
  fill: #ffffff;
}

/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border-radius: 30px;
  border: 1px solid #b9b5b5;
  margin-right: 7px;
  background-color: #e6e2e2;
  transition-duration: 300ms;
}

.check-text::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #b9b5b5;
  left: 2px;
  top: 2px;
  transition-duration: 300ms;
}

.form-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.form-check:checked + .check-text::before {
  background-color: rgb(205, 244, 174);
  border: 1px solid #ebe3e3;
} */

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .made > .container {
    width: 644px;
  }

  .title {
    font-size: 24px;
    line-height: 1.17;
  }

  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-list {
    gap: 32px;
  }

  .taste-item {
    width: calc((100% - 32px) / 2);
  }

  .products {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .products-list {
    gap: 32px;
  }

  .products-item {
    width: calc((100% - 32px) / 2);
  }

  .sellers {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sellers-list {
    gap: 16px;
    justify-content: center;
  }

  .sellers-item {
    width: calc((100% - 16px) / 2);
  }

  .loved {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .loved-list {
    gap: 54px 16px;
    justify-content: center;
  }

  .loved-item {
    width: calc((100% - 16px) / 2);
  }

  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .made-content {
    padding: 32px;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1166px) {
  .container {
    width: 1166px;
  }

  .made > .container {
    width: 1166px;
  }

  .taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .taste-list {
    gap: 24px 32px;
  }

  .taste-item {
    width: calc((100% - 96px) / 4);
  }

  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .products-list {
    gap: 18px;
  }

  .products-item {
    width: calc((100% - 54px) / 4);
  }

  .sellers {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .sellers-list {
    justify-content: flex-start;
  }

  .sellers-item {
    width: calc((100% - 32px) / 3);
  }

  .loved {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .loved-list {
    gap: 28px;
    justify-content: flex-start;
  }

  .loved-item {
    width: calc((100% - 56px) / 3);
  }

  .made {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .made-wrapper {
    flex-wrap: nowrap;
  }

  .made-item {
    margin-bottom: 24px;
  }
}
